@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}
:root{
    --button-color: #ef4339;
    --text: #f1e2f3;
    --background: #210f24;
    --primary: #480c51;
    --secondary: #2f1533;
    --accent: #ae58bb;
}
.nav-link:hover{
    color:white;
    background-color: aquamarine;
}
main{
    background-color: var(--secondary);
    color: var(--text);
}
main h1{
    color: var(--text);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }

#homeheroimg {
    background-image: url("/assets-henry/homepage.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Optional: Add a background color in case the image is not available */
.imgcontainer {
    background-color: var(--secondary); /* Set a fallback background color */
    padding-bottom: 20px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--accent);
    color: var(--text);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


h1 {
    font-size: 2em;
    font-family: 'Your Preferred Font', sans-serif; /* Add your preferred font */
    color: #333; /* Set your preferred color */
    text-decoration: underline; /* Add underline or other decorations */
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values and color */
  }

.class {
    text-align: center;
    padding: 40px;
    font-size: 2em;
}

.col-lg-6 img {
    border-radius: 10px; /* Add rounded corners to images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to images */
}

